<h1>Sign In</h1>
<%= form_with url: sessions_new_path do |f| %>
  <p>
  <%= f.label 'Username:'%><br>
  <%= f.text_field :name, id: 'name' %>
  </p>
  <p>
  <%= f.label 'password:'%><br>
  <%= f.password_field :password, id: 'password' %>
  </p>
  <p>
  <%= f.submit 'Log In' %>
  </p>
<% end %>