<%= form_with(model: attendance) do |form| %>


  <div>
    <%= form.label :check_in, style: "display: block" %>
    <%= form.datetime_field :check_in %>
  </div>

  <div>
    <%= form.label :check_out, style: "display: block" %>
    <%= form.datetime_field :check_out %>
  </div>

  <div>
    <%= form.label :Employee_id, style: "display: block" %>
    <%= form.text_field :Employee_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
